.badge {
  &-xs {
    @apply text-xs leading-3 h-3;
    padding-left: 0.313em;
    padding-right: 0.313em;
  }
  &-sm {
    @apply text-xs leading-4 h-4;
    padding-left: 0.438em;
    padding-right: 0.438em;
  }
  &-md {
    @apply text-sm leading-5 h-5;
    padding-left: 0.563em;
    padding-right: 0.563em;
  }
  &-lg {
    @apply text-base leading-6 h-6;
    padding-left: 0.688em;
    padding-right: 0.688em;
  }
}
