.tab {
  &-md {
    @apply leading-loose h-8;
    --tab-padding: 1em;
  }
  &-lg {
    @apply leading-loose h-12;
    --tab-padding: 1.25em;
  }
  &-sm {
    @apply leading-3 h-6;
    --tab-padding: 0.75em;
  }
  &-xs {
    @apply leading-3 h-5;
    --tab-padding: 0.5em;
  }
}
